body{
    background-image: url(./img/back.jpg);
background-attachment: scroll;
}

#root{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;



}

.champClass{
    width: 23%;
    margin: 10px auto;
    padding: 5px 5px;
    text-align: center;
    color: white;
    border: 2px solid white;

}

.btnup{
    text-align: center;
}

.btnup a{
border: 2px solid white;   
 padding: 3px;
border-radius: 5px;
 color: white;
text-decoration: none;
}

.champClass img{
object-fit: cover;
width: 100%;
}

